.App {
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  align-items: "center";
  width: "100%";
}

/* Sign In */

.SignIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* End of Sign In */

/* Form Inputs */

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#standard-basic {
  width: "90vw";
  max-width: "500px"; 
}

/* End of form inputs */